{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newentities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newEntity in newEntities %}
            <tr>
                <td><a href="{{ path('newentity_show', { 'id': newEntity.id }) }}">{{ newEntity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('newentity_show', { 'id': newEntity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('newentity_edit', { 'id': newEntity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newentity_new') }}">Create a new newEntity</a>
        </li>
    </ul>
{% endblock %}
